/* Josh Comeau CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

/* my css */
:root {
  --bg-color: rgb(250, 250, 250);
  --darker-text-color: rgb(41, 41, 41);
  --lighter-text-color: white;
  --nav-color: rgb(136, 66, 66);
  --nav-color-darker: rgb(70, 37, 37);
  --nav-selected: rgb(94, 40, 40);
  --nav-color-hover: rgb(179, 96, 96);

  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--bg-color);
  color: var(--darker-text-color);
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 100vh;
}

/* || Navigation section */
aside {
  padding:24px 16px;
  box-shadow: 1px 1px 12px rgb(165, 165, 165);
  background-color: var(--nav-color);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  color: var(--lighter-text-color);
}

aside header {
  letter-spacing: -2px;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  margin-bottom: 24px;
  justify-content: center;
}

#sidebar-section-container button, #sidebar-section-container input {
  border: none;
  text-align: left;
  padding: 8px 12px;
  background-color: transparent;
  color: var(--lighter-text-color);
}
#sidebar-section-container input {
  background-color: white;
  color: var(--darker-text-color);
}
#sidebar-section-container button:hover {
  background-color: var(--nav-color-hover);
  cursor: pointer;
}

#sidebar-section-container button.selected {
  background-color: var(--nav-selected);
}

#sidebar-section-container > section div {
  display: flex;
  flex-direction: column;
}

#sidebar-section-container {
  display: flex;
  flex-direction: column;
  gap:16px;
}

#sidebar-section-container h3 {
  border-bottom: 1px solid var(--lighter-text-color);
  padding-bottom: 2px;
  margin-bottom: 8px;
}

/* edit button in nav */
#sidebar-section-container .project-header-edit {
  position: relative;
}
#sidebar-section-container .project-header-edit button {
  position: absolute;
  right: 0;
  padding: 0;
}
#sidebar-section-container .project-header-edit button:hover {
  cursor: pointer;
  background-color: transparent;
  opacity: 75%;
}

#sidebar-section-container .proj-input-button {
  display: flex;
  flex-direction: row;
  gap:4px;
  margin-block: 2px;
  position: relative;
}
#sidebar-section-container .proj-input-button input {
  width: 100%;
  padding-right: 24px;
}
#sidebar-section-container .proj-input-button input:focus {
  outline: none;
}
#sidebar-section-container .proj-input-button button {
  background-color: rgb(255, 255, 255);
  position: absolute;
  padding-inline: 0;
  padding-right: 4px;
  right: 0px
}
#sidebar-section-container .proj-input-button button:hover {
  background-color: rgb(255, 255, 255);
}
#sidebar-section-container .proj-input-button:has(button:hover) {
  opacity: 80%;
}

/* || main section  */
#todo-container {
  padding: 32px;
}

.proj-header {
  font-size: 16px;
  margin-bottom: -12px;
  font-style: italic;
  font-weight: 100;
}
.task-header {
  font-size:42px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border: none;
  font-size: clamp(0.75rem, calc(0.2vw + 0.6rem), 1rem);
  width: 100%;
  box-shadow: 1px 1px 8px rgb(211, 211, 211);
  margin-bottom: 12px;
  border-radius: 6px;
}
tbody td:nth-child(1) {
  font-size: clamp(0.9rem, calc(0.25vw + 0.7rem), 1.1rem);
}
th, td {
  width: 70%;
  padding-inline: 2vw;
}

th {
  font-size: clamp(0.9rem, calc(0.2vw + 0.9rem), 1.2rem);
  background-color: var(--nav-color);
  color: var(--lighter-text-color);
  padding-block: 20px;
}
td {
  padding-block: 14px;
}

td:nth-child(2), th:nth-child(2) {
  width: 30%;
}

td:last-child, th:last-child {
  width: fit-content;
}
td:has(input) {
  text-align: center;
}
td input {
  --checkbox-size: clamp(0.9rem, calc(0.2vw + 0.9rem), 1.2rem);
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  cursor: pointer;
}
tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background-color: rgb(228, 228, 228);
}

tbody tr:nth-child(2n - 1) {
  background-color: rgb(255, 198, 183);
}
tbody tr:nth-child(2n - 1):hover {
  background-color: rgb(233, 171, 156);;
}

table+button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
}

 /* || popup form css */
.popout-deets {
  display: none;
  padding: 16px;
  background-color: rgb(250, 250, 250);
  box-shadow: -2px 2px 4px rgb(218, 218, 218);
}

.close {
  background-color: var(--subtle-gray-color);
  border: none;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 12px;
  width: 32px;
  height: 32px;
  position: relative;
  left: -12px;
  top: -8px;
}
.close:hover {
  background-color: rgb(122, 74, 74);
  background-color: var(--nav-color);
  color:var(--lighter-text-color);
}

.task-deets {
  display:flex;
  flex-direction: column;
  gap: 16px;
}

.task-deets input, .task-deets textarea {
  padding: 4px 8px;
}
.task-deets textarea {
  resize: none;
  min-height: 150px;
}

.popout-deets .btn-group {
  margin-left: auto;
  display: flex;
  gap: 8px;
}
.popout-deets .btn-group button {
  width: fit-content;
  border: none;
  border-radius: 4px;
  padding: 4px 16px;
  font-size: 16px;
}

.label-input {
  display:flex;
  flex-direction: column;
  gap: 4px;
}

label[for="title"]::after {
  content: "*";
  color: rgb(201, 0, 0);
}

.label-input:nth-child(4) {
  flex-direction: row-reverse;
  justify-content: left;
  gap:8px
}

td[colspan="3"] {
  background-color: white;
  cursor:default;
}

tr.urgent td:nth-child(1) {
  position: relative;
}
tr.urgent td:nth-child(1)::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "!";
  font-weight: bold;
  position: absolute;
  color:rgb(255, 255, 255);
  background-color: rgb(252, 84, 84);

  top:8px;
  left: -8px;
  --size: 16px;
  height:var(--size);
  width: var(--size);
  padding: 4px;
  border-radius: 30px;
}

tr.urgent:hover td:nth-child(1)::after {
  background-color: rgb(255, 25, 25);
  --size: 17px;
  box-shadow: 1px 1px 4px rgb(133, 133, 133);
}